{% set data = data['Second Order Perturbation Theory Analysis of Fock Matrix in NBO Basis']%}
<div class="container">
    <h2 class="mt-2">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
        <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8m0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0M4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0m0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0"/>
    </svg>
    <span>NBO Analysis</span>
    </h2>
    {# SECTION #}
    {% for section, interactions in data.items() %}
        {% if section != "default" %}
        <h5 class='fst-italic ps-2'>{{ section }}</h5>
        <table class="table table-bordered mt-3 table-hover">
            <thead>
                <tr class="table-primary">
                    <th>Donor</th>
                    <th>Acceptor</th>
                    <th>E(2) (kcal/mol)</th>
                    <th>E(j)-E(i) (a.u.)</th>
                    <th>F(i,j) (a.u.)</th>
                </tr>
            </thead>
            <tbody>
                {% for interaction in interactions %}
                <tr>
                    <td>{{ interaction.donor_type }} ({{ interaction.donor_atom_1_symbol }}{{ interaction.donor_atom_1_index }}{% if interaction.donor_atom_2_symbol %} - {{ interaction.donor_atom_2_symbol }}{{ interaction.donor_atom_2_index }}{% endif %})</td>
                    <td>{{ interaction.acceptor_type }} ({{ interaction.acceptor_atom_1_symbol }}{{ interaction.acceptor_atom_1_index }}{% if interaction.acceptor_atom_2_symbol %} - {{ interaction.acceptor_atom_2_symbol }}{{ interaction.acceptor_atom_2_index }}{% endif %})</td>
                    <td>{{ interaction.e2 }}</td>
                    <td>{{ interaction.energy_diff }}</td>
                    <td>{{ interaction.f_ij }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    {% endfor %}
</div>