# Requirements for core
jinja2~=3.0
markdown
mkdocs
mkdocs-autorefs
mkdocs-get-deps
mkdocs-material
mkdocs-material-extensions
mkdocstrings
mkdocstrings-python
pygments~=2.16
pymdown-extensions~=10.2

# Requirements for plugins
babel~=2.10
colorama~=0.4
paginate~=0.5
regex>=2022.4
requests~=2.26